// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-container {
    grid-template-columns: 1fr 1fr ;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 767px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 0;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

