<div class="banner">
  <div class="container">
    <h1> Trouvez facilement des cours de théatre à </h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>
