<div class="banner">
  <div class="container">
<<<<<<< HEAD
    <h1><%= @site.title %></h1>
    <p><%= @site.description %></p>
=======
    <h1> Trouvez facilement des cours de théatre à </h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
>>>>>>> bf7ca9d3107fe217e68ee8c18af5468c92bde1be
  </div>
</div>
