<div class="footer">
  <div class="footer-links">
    <a class="footer-border" href="#">Contactez-nous</a>
    <a class="footer-border" href="#">Proposez vos cours</a>
    <a href="#">Politique de confidentialité</a>
  </div>
  <div class="footer-copyright">
    ©2019 Imparato - Tous droits réservés.
  </div>
</div>

