<div class="footer">
  <div class="footer-links">
    <%= link_to "Contactez-nous", new_contact_path %>

    <%= link_to "Proposez vos cours", new_company_path, id: "second-course" %>

    <%# <a href="#">Politique de confidentialité</a> %>
  </div>
  <div class="footer-copyright footer-copyright-size">
    ©<%= Date.today.strftime("%Y") %> Dacotha - Tous droits réservés.
  </div>
</div>

