<div class="footer">
  <div class="footer-links">
    <%= link_to "Contactez-nous", new_contact_path, class: "footer-border" %>

    <%= link_to "Proposez vos cours", new_company_path, class: "footer-border" %>

    <a href="#">Politique de confidentialité</a>
  </div>
  <div class="footer-copyright footer-copyright-size">
    ©2019 Imparato - Tous droits réservés.
  </div>
</div>

