.envelope-contact{
  font-size: 128px;
  background: linear-gradient(to right, rgb(148, 115, 221) 0%, rgb(26, 201, 228) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
