.navbar-imparato {
  justify-content: space-between;
  background: white;
}

.navbar-imparato .navbar-collapse {
  flex-grow: 0;
}

.navbar-imparato .navbar-brand img {
 // width: 40px;
}
.logo-icon{
  font-size: 36px;
  color: $blue;
  margin: 0px;
}

.nav-item a {
  display: flex;
  margin : 5px;
  justify-content: space-around;
}
