#section {
  min-height: calc(100vh - 100px); /* Hauteur totale - (Hauteur navbar + Hauteur footer) */
}
.container-content {
  margin: 0 auto;
}
.logo-icon{
  font-size: 36px;
  color: #3C81FF;
  margin: 0px;
}
