#section {
  min-height: calc(100vh - 100px); /* Hauteur totale - (Hauteur navbar + Hauteur footer) */
}

body {

  font-family: 'Libre Baskerville', serif;
  background-color: #F7F7F7;
  //background-color: #F6F8FA;
  //background-color: #F8F9FA;
  //background-color: #F3F9FB;
  //background-color: #FDFDF6; //blue
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 16px;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 24px;
}
h3{
  font-size: 20px;
}
