#section {
  min-height: calc(100vh - 100px); /* Hauteur totale - (Hauteur navbar + Hauteur footer) */
}
.logo-icon{
  font-size: 36px;
  color: #3C81FF;
  margin: 0px;
}
body {

  font-family: 'Libre Baskerville', serif;
  background-color: #F7F7F7;
  //background-color: #F6F8FA;
  //background-color: #F8F9FA;
  //background-color: #F3F9FB;
  //background-color: #FDFDF6; //blue
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
